html, body {
    font-family: 'FuturaPTWebBook';
  } 

body {
	background-color: #212124;
	color: #BFBFBF;
   }

hr {
    background-color: #BFBFBF;
	color: #BFBFBF;
    border: 0 none;
    height: 1px;
}

@font-face {
	font-family: 'FuturaPTWebBook';
	src:
		url('../fonts/Futura-PT_Book.woff2') format('woff2'),
		url('../fonts/Futura-PT_Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}